*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font: inherit; 
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #DFBFD7;
  font-family: "Lora", serif;
  padding: 0 25px;
}

.btn {
  font-size: 24px;
  background-color: #F2F3F4;
  padding: 4px 12px;
  border-width: 1px;
  border-radius: 3px;
  border-color: gray;
  color: #131313;
}

.valentine {
  max-height: 50vh;
  animation: animate-grow 1.5s infinite;
}

.hidden {
  display: none;
}

@keyframes animate-grow {
  0% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  14% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  28% {
    transform: scale3d(1, 1, 1);
  }
}
